{%extends"base2.html"%}

{% block content %}
<div class="row" style="margin-top: 1rem">
    <div class="col-lg-12">
        <ul class="nav nav-tabs nav-fill">
            {%if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link navbar" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active navbar" href="/alltasks">Задачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar" href="/trackers">Трекеры</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row" style="margin-top: 1rem">
    <div class="col-lg-12">
        <ul class="nav nav-tabs nav-fill">
            {%if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active navbar" href="/alltasks">День</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar" href="/alltasks_week">Неделя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar" href="/alltasks_month">Месяц</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="col-lg-4" style="margin-top: 1rem">
    <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                    <p>
                        {{ form.data_day.label}}<br>
                        {{ form.data_day(type="date", class="form-control") }}
                        {%for error in form.data.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </p>
                    <p style="text-align:center">
                        {{ form.submit(type="submit",class="login") }}
                    </p>
                <p style="margin-top: 1rem; text-align: center; font-family: 'Quicksand', sans-serif;">{{message}}</p>
    </form>
</div>
<div class="col-lg-12">
    <h5 style="margin-top: 1rem; text-align: center">Задачи</h5>
    {%for item in tasks%}
        {% if item.id_important == 1 %}
            <div class="alert alert-danger" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
        {% endif %}
        {% if item.id_important == 2 %}
            <div class="alert alert-warning" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
        {% endif %}
        {% if item.id_important == 3 %}
            <div class="alert alert-success" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
        {% endif %}
    {% endfor %}
</div>
{%if current_user.is_authenticated %}
    <a href="/tasks"class="btn btn-secondary">Добавить запись</a>
{% endif %}
{% endblock %}