{%extends"base2.html"%}

{% block content %}
{%if current_user.is_authenticated %}
<div class="row" style="margin-top: 1rem">
    <div class="col-lg-12">
        <ul class="nav nav-tabs nav-fill">
            {%if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link navbar" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active navbar" href="/alltasks">Задачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar" href="/trackers">Трекеры</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row" style="margin-top: 1rem">
    <div class="col-lg-12">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link navbar" href="/alltasks">День</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar" href="/alltasks_week">Неделя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active navbar" href="/alltasks_month">Месяц</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-4" style="margin-top: 1rem">
    <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                    <p>
                        {{ form.data_month.label}}<br>
                        {{ form.data_month(type="date", class="form-control") }}
                        {%for error in form.data.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </p>
                    <p style="text-align:center">
                        {{ form.submit(type="submit",class="login") }}
                    </p>
                <p style="margin-top: 1rem; text-align: center; font-family: 'Quicksand', sans-serif;">{{message}}</p>
    </form>
</div>
<div class="col-lg-12" style="margin-top: 1rem">
    {%for item in tasks %}
    {{  item.data}}
    {% endfor %}
    <h5 style="margin-top: 1rem; text-align: center">Задачи</h5>
    <table class="table table-bordered">
        <thead>
            {%for key in first_week%}
                    <th scope="col">
                        {{ key }} <br>
                    </th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                {%for key in first_week %}
                        <td>
                        {{ first_week[key]}}
                        {%for item in tasks %}
                             {{  item.data}}
                            {% if first_week[key] == item.data %}

                                {% if item.id_important == 1 %}
                                    <div class="alert alert-danger" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 2 %}
                                    <div class="alert alert-warning" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 3 %}
                                    <div class="alert alert-success" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </td>
                {% endfor %}
            </tr>
            <tr>
                {%for key2 in second_week %}
                    <td>
                        {{ second_week[key2]}}
                    {%for item2 in tasks %}
                        {{  item2.data}}
                        {% if second_week[key2] == item2.data %}
                                {% if item2.id_important == 1 %}
                                    <div class="alert alert-danger" role="alert">
                {{item2.start_time}}
                {{item2.end_time}}
                {{item2.text_task}}
                {{item2.description}}
            </div>
                                {% endif %}
                                {% if item2.id_important == 2 %}
                                    <div class="alert alert-warning" role="alert">
                {{item2.start_time}}
                {{item2.end_time}}
                {{item2.text_task}}
                {{item2.description}}
            </div>
                                {% endif %}
                                {% if item2.id_important == 3 %}
                                    <div class="alert alert-success" role="alert">
                {{item2.start_time}}
                {{item2.end_time}}
                {{item2.text_task}}
                {{item2.description}}
            </div>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {%for key in third_week %}
                    <td>
                        {{ third_week[key]}}
                    {%for item in tasks %}
                        {% if third_week[key] == item.data %}
                                {% if item.id_important == 1 %}
                                    <div class="alert alert-danger" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 2 %}
                                    <div class="alert alert-warning" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 3 %}
                                    <div class="alert alert-success" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}

                        {% endif %}
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {%for key in fourth_week %}
                    <td>
                        {{ fourth_week[key]}}
                    {%for item in tasks %}
                        {% if fourth_week[key] == item.data %}
                                {% if item.id_important == 1 %}
                                    <div class="alert alert-danger" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 2 %}
                                    <div class="alert alert-warning" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 3 %}
                                    <div class="alert alert-success" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}

                        {% endif %}
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {%for key in fifth_week %}
                    <td>
                        {{ fifth_week[key]}}
                    {%for item in tasks %}
                        {% if fifth_week[key] == item.data %}
                                {% if item.id_important == 1 %}
                                    <div class="alert alert-danger" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 2 %}
                                    <div class="alert alert-warning" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 3 %}
                                    <div class="alert alert-success" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}

                        {% endif %}
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {%for key in sixth_week %}
                        <td>
                        {{ sixth_week[key]}}
                        {%for item in tasks %}
                            {% if sixth_week[key] == item.data %}
                                {% if item.id_important == 1 %}
                                    <div class="alert alert-danger" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 2 %}
                                    <div class="alert alert-warning" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}
                                {% if item.id_important == 3 %}
                                    <div class="alert alert-success" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                        </td>
                {% endfor %}
            </tr>
  </tbody>
    </table>
</div>
{% endif %}
{% endblock %}