{% if item.id_important == 1 %}
    <div class="alert alert-danger" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
{% endif %}
{% if item.id_important == 2 %}
    <div class="alert alert-warning" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
{% endif %}
{% if item.id_important == 3 %}
      <div class="alert alert-success" role="alert">
                {{item.start_time}}
                {{item.end_time}}
                {{item.text_task}}
                {{item.description}}
            </div>
{% endif %}
