{%extends"base2.html"%}

{% block content %}
<div class="row" style="margin-top: 1rem">
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-fill">
                    {%if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active navbar" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar" href="/alltasks">Задачи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar" href="/trackers">Трекеры</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            <h5 style="margin-top: 1rem; text-align: center">Задачи</h5>
            {%for item in form%}
                {% if item.id_important == 1 %}
                    <div class="alert alert-danger" role="alert">
                        {{item.start_time}}
                        {{item.end_time}}
                        {{item.text_task}}
                        {{item.description}}

                    </div>
                {% endif %}
                {% if item.id_important == 2 %}
                    <div class="alert alert-warning" role="alert">
                        {{item.start_time}}
                        {{item.end_time}}
                        {{item.text_task}}
                        {{item.description}}
                    </div>
                {% endif %}
                {% if item.id_important == 3 %}
                    <div class="alert alert-success" role="alert">
                        {{item.start_time}}
                        {{item.end_time}}
                        {{item.text_task}}
                        {{item.description}}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}


